{% extends "base.html" %} {% block content%} 
<div class="d-flex justify-content-center align-items-start py-2">
    <form
        class="form"
        role="form"
        action="{{ url_for('blog.add_post') }}"
        method="post"
    >
        <div class="bg-add_and_edit-post align-items-center">
                        <div class="add_and_edit-image">
                                <label for="input-file" class="drop-area" id="drop-image">
                                    <img src="{{ url_for('static', filename='image/drop-files.png') }}"/>
                                    
                                    <input type="file" name="image" accept="image/*" id="input-file" style="display: none;" multiple>
                                    
                                    <p id="placeholder-text">{{ form.image.label }}</p>

                                    <label id="image-area"></label>

                                    {% for error in form.errors.image %}
                                        <small class="text-danger">{{error}}</small>
                                    {% endfor %}
                                </label>
                        </div>
                        <div class="add_and_edit-content"> 
                            <div class="offer-title mt-4">
                                    {{ form.title(
                                        class='form-control', 
                                        placeholder='Назва посту') }} 
                                    {% for error in form.errors.title %}
                                        <small class="text-danger">{{error}}</small>
                                    {% endfor %}
                            </div>
                            <div class="add-description mt-4">
                                {{ form.content(
                                    class='form-control',
                                    style='resize: none; max-height: 200px;', 
                                    rows='10', cols='15', 
                                    placeholder='Опишіть свій пост') }}
                                {% for error in form.errors.content %}
                                    <small class="text-danger">{{error}}</small>
                                {% endfor %}
                            </div>
                            {{ form.submit(class='btn btn-outline-dark mt-3') }}
                        </div>
        </div>
    </form>
</div>

{% endblock%}