{% extends "base.html" %} {% block content%} 

    {% if not check_posts %}
        <div
            class="d-flex justify-content-center align-items-center flex-grow-1 flex-column"
            >
            <div class="error-code fw-bold"> WOOOOPS </div>
        
            <div class="error-description">А в тебе немає...немає)) знаєш що в тебе немає?...Звісно!!! Постів в тебе нема!</div> 
            
            <a href="{{ url_for('blog.add_post') }}" class="{{ 'active' if current_page == 'blog.add_post' else '' }}">
                <button type="button" class="btn btn-outline-dark rounded-3 px-4 py-2 mt-3">Зробити пост</button>
            </a>
        </div>
    {% else %}
    <div class="d-flex flex-column align-items-center">
        <div class="container mt-4">
            <div class="row g-4 justify-content-center">
                {% for post in posts | sort(attribute="created_at", reverse=True) %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm card-custom" style="background-color:rgb(255, 255, 255); width: 20rem;">
                        <div class="card-header d-flex justify-content-between">
                            <strong>{{ post.user.name }}</strong>
                            <span class="font-italic">{{ post.created_at }}</span>
                        </div>
                        {% if post.image %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <img
                                src="{{ url_for('static', filename='uploads/test.jpg') }}"
                                class="card-img-top"
                                alt="Blup"
                                />
                                <a href="{{ url_for('blog.view_post', post_id=post.id, post_title=post.title) }}">
                                    <button class="btn btn-outline-dark mt-2">
                                        Читати більше
                                    </button>
                                </a>
                            </div>
                        {% else %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text text-dark"> {{ post.content }} </p>
                            <button class="btn btn-outline-dark mt-2">
                                <a href="{{ url_for('blog.view_post', post_id=post.id, post_title=post.title) }}">Читати більше</a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>     
    {% endif %}
    

{% endblock %}