  body {
    background-color: #ececec;
  }
  
  #block-or {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -27px;
  }
  
  #block-email {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    margin-left: 30px;
    width: 300px;
  }
  
  #block-auth {
    /* display: flex; */
    position: fixed;
    top: 50%;
    left: 50%;
    /* flex-direction: column;
    align-items: center; */
    transform: translate(-50%, -50%);
    width: 31%;
    height: 46%;
    min-width:300px;
  }
  
  #logo-github {
    width: 22px;
    height: 22px;
    margin-left: -60px;
  }

  #email-input {
    background-color: #e9e9ed;
    margin-top: 0;
    margin-bottom: 50px;
    margin-inline: -20px;

    width: 275px;
    height: 30px;

    border-radius: 8px;
    border-width: 1px;
    border-color: #d6d5d6;
  }
  
  .bg-white {
    background-color: white;
    border-radius: 20px;
  }
  
  .line {
    width: 127px;
    height: 1px;
    background-color: #8d7383;
    border-radius: 3px;
  }
  
  .add-text {
    color: #8d7383;
    margin-inline: 5px;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 3px;
    margin-inline: -20px;
  }
  
  .button-auth {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 280px;
    height: 48px;
    margin-top: -80px;

    border-radius: 8px;
    border-color: #d6d5d6;
    border-width: 0.5px;
  }
  .button-auth:hover {
    background-color: rgb(202, 195, 195);
  }

  .auth-text {
    position: relative;
    bottom: 7px;
    margin-left: 40px;
  }

  .button-auth-email {
    background-color: #397efb;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 280px;
    height: 50px;
    margin-top: 42px;
    margin-left: -29px;

    border-radius: 8px;
    border-color: #1d4ea3;
    border-width: 2px;
  }
  .button-auth-email:hover {
    background-color: #295cb4;
  }