<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Login or Sign Up</title>
        <link 
        rel="icon"
        type="image/x-icon"
        href="static/image/wha.webp"/>

    <link rel="stylesheet" type="text/css" href="static/styles/stucture.css"/>
    <script src="static/script.js"></script>
  </head>
  <body class="body-flex">
    <div id="select-block" class="bg-white">

      <button class="go-to-auth" onclick="playVideo()">

        <span>Нажми на цю кнопку для авторизацій</span>

      </button>

      <video id="myVideo" width="600" height="400" controls style="display:none;">
        <source src="static/image/ой сало сало сало українське сало «high resolution».mp4" type="video/mp4">
      </video>
      
      <div>

        <button class="go-to-auth" onclick="location.href='/login'">

          <span>Чи на цю?</span>

        </button>

      </div>

      <div>
        <button class="go-to-auth" onclick="location.href='/sign-up'">

          <span>Чи ця потрібна?</span>

        </button>
      </div>

    </div>
  </body>
</html>
