<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Login - Our Site</title>
        <link 
        rel="icon"
        type="image/x-icon"
        href="static/images/blep.webp"/>
        <link rel="stylesheet" type="text/css" href="static/styles/stucture.css"/>
    </head>
    <body class="body-flex">
        <div id="block-auth" class="bg-white">
            <button class="buttons-auth button-auth">
                <img 
                id="logo-github"
                src="./static/image/github.png" 
                alt="Logo" 
                />
                <span class="auth-text">Sign in with GitHub</span>
            </button>

            <div id="block-or">
                <div  class="line"></div>
                <span class="add-text">or</span>
                <div class="line"></div>
            </div>

            <div id="block-email">
                <h3 class="title">Почта</h3>
                <input type="email" placeholder="  email@example.com">
                <button class="buttons-auth button-email">Sign in with Email</button>
            </div>

            
        </div>
    </body>
</html>