body {
  background-color: #ececec;
}

.body-flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#block-auth {
  width: 370px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}

#block-or {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#block-email, #block-username, #block-password {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 300px;
}

#block-email input, #block-username input, #block-password input {
  height: 30px;

  margin-bottom: 10px;

  background-color: #e9e9ed;

  border-radius: 8px;
  border-width: 1px;
  border-color: #d6d5d6;
}

#block-signin p {
  font-size: 14px;
  color: #8d7383;
}

#block-signin a {
  color: #397efb;
  text-decoration: none;
}

#block-signin a:hover {
  text-decoration: underline;
}

#select-block {
  width: 370px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}

.go-to-auth {
  background-color: #e7b778;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 48px;

  border-radius: 8px;
  border-color: rgb(207, 230, 124);
  border-width: 0.5px;

  margin: 15px 0;
}

.go-to-auth span {
  margin: 0;
  font-weight: bold;
}

.go-to-auth:active {
  background-color: #ac8553
}

.go-to-auth:hover {
  background-color: #d9a64b;
}

.bg-white {
  background-color: white;
  border-radius: 20px;
}

.line {
  width: 150px;
  height: 1px;
  background-color: #8d7383;
  border-radius: 3px;
}

.add-text {
  color: #8d7383;
  margin-inline: 5px;
}

.title {
  margin-top: 0;
  margin-bottom: 5px;
}

.buttons-auth {
  width: 300px;
  height: 50px;

  display: flex;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
}

.button-auth {
  background-color: white;
  border-color: #d6d5d6;
}

.button-email {
  justify-content: center;
  color: white;
  background-color: #397efb;
  border-color: #1d4ea3;
}

.button-email:active {
  background-color: #295cb4;
}

.button-auth img {
  width: 25px;
  height: 25px;
}

.auth-text {
  width: 100%;
}